* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  line-height: 1;
  background-color: var(--primary-background);
}

#app {
  font-family: Arial, 'sans-serif';
  font-size: 14px;
  color: var(--primary-color);
}
