.series {
  margin-top: 20px;
  color: var(--overview-color);
}

.tabs {
  display: flex;
  margin-bottom: 15px;
}

.tabs > div {
  margin-right: 10px;
  padding: 7px 10px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--overview-color);
}

.tabs > div.active {
  background-color: var(--tab-active-background);
  border-color: var(--tab-active-background);
}

.episodes > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--overview-color);
}

.episodes > div:last-child {
  border: none;
}
